* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN CONTENT */
.main-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* background: linear-gradient(135deg, #081b29 0%, #0d2538 100%); */

    padding: 2rem;
}

.main-content.visible {
    opacity: 1;
}

/* BODY */
body {
    background-color: #081f29 !important;
    display: flex;
}

/* TEXT STYLING */
.text {
    color: aqua;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* LANDING PAGE */
.landing-page {
    z-index: 10;
    background: linear-gradient(135deg, #1a1a40, #2f1b73, #4e2a8e);
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    flex-direction: column;
    position: fixed;
    opacity: 1;
    backdrop-filter: blur(10px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.landing-text {
    font-size: 3rem;
    position: relative;
    z-index: 5;
    text-align: center;
}

.landing-page.slide-out {
    transform: translateY(-100vh);
    opacity: 0;
    pointer-events: none;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgba(10, 53, 18, 0.1); */
    background: #081f2910;
    backdrop-filter: blur(10px);
    padding: 2rem 1rem;
    position: sticky;
    z-index: 20;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    border-bottom: 2px solid transparent;
}

li a:hover {
    color: rgb(226, 117, 15);
    border-bottom: 2px solid rgb(226, 117, 15);
    text-shadow: 2px solid rgb(226, 117, 15)
}

.nav-links a.active {
    color: rgb(226, 117, 15);
    border-bottom: 2px solid rgb(226, 117, 15);
    text-shadow: 2px solid rgb(226, 117, 15)
}

li a {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;

}

.navlogo {
    font-size: 32px;
    font-weight: bolder;
    color: rgb(226, 117, 15);
    left: 40px;
    position: sticky;
    white-space: nowrap;
}

.navbar .action-btn {
    display: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
}

.drop-downmenu {
    position: absolute;
    top: 80px;
    right: -100%;
    width: 100%;
    height: 0px;
    background-color: #081f29;
    overflow: hidden;
    display: none;
    transition: right 0.7s ease; 
    z-index: 1000;
}


.drop-downmenu.open {
    right: 0;
    height: 100vh;
}

.drop-downmenu li {
    margin-top: 20px;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: flex-start;
    padding: 1rem;
    margin-left: 30px;
}

.drop-downmenu li a {
    font-size: 1.5rem;
    color: white;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    gap: 30px;
}

.drop-downmenu ul li a i {
    width: 22px;
    font-size: 26px;
    text-align: center;
}

/* social */
.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.main-btn {
    color: white;
    background-color: orange;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

}

.main-btn:hover {
    background-color: rgb(233, 152, 3);
}

.tooltip {
    position: absolute;
    right: 70px;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
    padding: 7px 12px;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.main-btn:hover .tooltip {
    opacity: 1;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 70px;
    right: 6.5px;
}

.social-links {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    height: 50px;
    text-decoration: none;
    width: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #081f29;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.social a:nth-child(1) {
    transition-delay: 0.1s;
    color: #1877F2;
}

.social a:nth-child(2) {
    transition-delay: 0.2s;
    color: #1DA1F2;
}

.social a:nth-child(3) {
    transition-delay: 0.3s;
    color: rgb(233, 129, 146);
}

.social a:nth-child(4) {
    transition-delay: 0.4s;
    color: #081f29;
}

.social.show .social-links {
    opacity: 1;
    transform: scale(1);
}

/* AI-SUMMARIZE MENU */
.container {
    width: 100%;
    height: 100vh;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.container.visible {
    opacity: 1;
}

.content {
    overflow: hidden;
    position: relative;
    top: 210px;
    left: 60px;
    border: 0.1px solid rgb(238, 238, 238);
    background-color: #f9f9f9;
    border-radius: 20px;
    width: 127px;
    height: 91px;
    padding: 9px 5px;
    transition: height 0.45s ease-in-out, background-color 0.45s ease-in-out;
    user-select: none;
}

.content:hover {
    height: 310px;
    background-color: white;
}

.content img {
    width: 45px;
    margin-left: 32px;
}

.floating_icon {
    font-family: InterVariable, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #081b29;
    line-height: 18px;
}

.ai-summarize-menu {
    display: flex;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.45s ease-in-out, max-height 0.45s ease-in-out;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ai-summarize-title {
    text-align: center;
    color: #4a5568;
    padding: 0 10px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 8px;
}

.ai-summarize-menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid rgb(238, 238, 238);
    background: #ffffff;
    border-radius: 20px;
    padding: 2px 10px;
    padding-right: 45px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    width: 100%;
    max-width: 100px;
    color: rgb(99, 98, 98);
    gap: 4px;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.ai-summarize-menu button:hover {
    background-color: #FF7F11;
}

.icon {
    height: 16px;
    width: 15px;
    object-fit: contain;
}

.content:hover .ai-summarize-menu {
    opacity: 1;
    max-height: 500px;
}

/* intro */

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 200px;
    position: absolute;
    margin: 0 auto;
    left: 230px;
    max-width: 650px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 56px;
    margin-bottom: 0.3rem;
}

* {
    margin: 0;
    padding: 0;
}

.texts {
    color: orange;
    font-size: 32px;
    line-height: 36px;
}

.cursor {
    font-size: 38px;
    font-weight: 900;
    color: orange;
    animation: blink 0.8s infinite;
}

.intro p {
    margin-top: 0.9rem;
    color: white;
    font-size: 20px;
}

.basicinfo {
    margin-top: 1.5rem;
    display: flex;
    height: 25px;
    gap: 2rem;
    width: 345px;
}

.basicinfo a {
    position: relative;
    overflow: hidden;
}

.contacts,
.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px 65px;
    border: 2px solid orange;
    border-radius: 12px;
    background-color: transparent;
    color: orange;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 100%;
    width: 100px;
    z-index: 1;
    white-space: nowrap;
}


.basicinfo a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background-color: orange;
}

.basicinfo a:hover::before {
    background-color: orange;
    width: 100%;
}

.basicinfo a:nth-child(2):hover {
    color: #292828;
}

.basicinfo a:nth-child(1):hover {
    color: #292828;
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

/* TABLET FIX */
@media (max-width: 1139px) {
    .nav-links {
        display: none;
    }

    .navbar .action-btn {
        display: block;
    }

    .navlogo {
        left: 0px;
        font-size: 1.9rem;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .drop-downmenu {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
    }

    .drop-downmenu ul {
        margin-bottom: 300px;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-evenly;
    }

    .container {
        display: flex;
        justify-content: center;

    }
    
    .floating-btn {
        right: 20px;
    }

    .main-btn {
        width: 55px;
        height: 55px;
        font-size: 20px;
    }

    .social {
        flex-direction: column-reverse;
    }

    .social-link {
        width: 45px;
        height: 45px;
        font-size: 18px;
    }

    .tooltip {
        display: none !important;

    }

    .content {
        position: relative;
        border: 0.1px solid rgb(238, 238, 238);
        background-color: rgb(233, 234, 235);
        border-radius: 20px;
        width: 800px;
        height: fit-content;
        max-height: none;
        left: 0;
        margin: 0 40px;
        transition: none;
        top: 140px;
    }

    .content:hover {
        height: fit-content;
        background-color: rgb(233, 234, 235);
    }

    .content img {
        width: 45px;
        margin-top: 5px;
        margin-left: 15px;
    }

    .floating_icon {
        position: absolute;
        top: 15px;
        left: 70px;
    }

    .ai-summarize-menu {
        opacity: 1;
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
        justify-content: flex-start !important;
        margin-left: 63px;
        width: calc(100% - 70px);
        transition: none;
    }

    .ai-summarize-title {
        position: absolute;
        font-size: 12px;
        top: 33px;
        left: 60px;
        display: flex;
    }

    .ai-summarize-menu button {
        display: flex;
        position: relative;
        text-align: center;
        border-radius: 20px;
        max-height: 25px;
        min-width: 76px;
        padding: 3px 20px 3px 0;
        font-size: 12px;
        font-weight: 600;
    }
    button:hover {
        background-color: none;
    }

    .icon {
        position: relative;
        bottom: 3px;
        height: 19px;
    }
}

@media screen and (max-width: 1139px) {
    .intro {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 280px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 70%;
        /* left: -150px;
        right: 0px;
        text-align: left; */
    }

    .texts {
        font-size: 30px;
    }

    h1 {
        font-size: 42px;
    }
}

/* @media screen and (max-width: 1023px) {
    .intro {
       max-width: 80%;
   }
} */

@media screen and (max-width: 768px) {
    .intro {
        top: 320px;
        max-width: 80%;
        /* left: 22px;
        right: 23px;
        margin: 0 10px;
        margin-left: 18px; */
    }

    .texts {
        font-size: 26px;
    }

    .ai-summarize-menu button:hover{
        background-color: white;
    }

    h1 {
        font-size: 38px;
    }
    .content{
        top: 120px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 30px;
    }
    .navlogo {
        font-size: 26px;
    }
    .content {
        margin-top: 20px;
        top: 80px;
    }

    .texts {
        font-size: 20px;
    }

    .intro {
        top: 300px;
        max-width: 86%;
        /* position: static;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px; */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro p {
        font-size: 16px;
    }

    .intro .basicinfo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .resume,
    .contacts {
        justify-content: center;
        margin-top: 15px;
        max-width: 60px;
        font-size: 14px;
        white-space: nowrap;
    }
}
