* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN CONTENT */
.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    /* background: linear-gradient(135deg, #081b29 0%, #0d2538 100%); */

    padding: 2rem;
}

.main-content.visible {
    opacity: 1;
}

/* BODY */
body {
    background-color: #081f29 !important;
    display: flex;
}

/* TEXT STYLING */
.text {
    color: aqua;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* LANDING PAGE */
.landing-page {
    z-index: 10;
    background: linear-gradient(135deg, #1a1a40, #2f1b73, #4e2a8e);
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    flex-direction: column;
    position: fixed;
    opacity: 1;
    backdrop-filter: blur(10px);
    transition: opacity 1s ease-in-out , transform 1s ease-in-out;
}

.landing-text {
    font-size: 3rem;
    position: relative;
    z-index: 5;
    text-align: center;
}

.landing-page.slide-out {
    transform: translateY(-100vh);
    opacity: 0;
    pointer-events: none;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 0rem; */
    position: flxed;
    top: 0;
    left: 0;
    z-index: 20;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    border-bottom: 2px solid transparent;
}

li a:hover {
    color: rgb(226, 117, 15);
    border-bottom: 2px solid rgb(226, 117, 15);
    text-shadow: 2px solid rgb(226, 117, 15)
}
.nav-links a.active {
    color: rgb(226, 117, 15);
    border-bottom: 2px solid rgb(226, 117, 15);
    text-shadow: 2px solid rgb(226, 117, 15)
}

li a {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;

}

.navlogo {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(226, 117, 15);
    margin-left: 40px;
}

/* AI-SUMMARIZE MENU */
.container {
    width: 100%;
    height: 100vh;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.container.visible {
    opacity: 1;
}

.content {
    overflow: hidden;
    position: relative;
    top: 140px;
    left: 100px;
    border: 0.1px solid rgb(238, 238, 238);
    background-color: #f9f9f9;
    border-radius: 20px;
    width: 127px;
    height: 91px;
    padding: 9px 5px;
    transition: height 0.45s ease-in-out, background-color 0.45s ease-in-out;
    user-select: none;
}

.content:hover {
    height: 310px;
    background-color: white;
}

.content img {
    width: 45px;
    margin-left: 32px;
}

.floating_icon {
    font-family: InterVariable, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: #081b29;
    line-height: 18px;
}

.ai-summarize-menu {
    display: flex;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.45s ease-in-out, max-height 0.45s ease-in-out;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ai-summarize-title {
    text-align: center;
    color: #4a5568;
    padding: 0 10px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    margin-bottom: 8px;
}

.ai-summarize-menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid rgb(238, 238, 238);
    background: #ffffff;
    border-radius: 20px;
    padding: 2px 10px;
    padding-right: 45px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    width: 100%;
    max-width: 100px;
    color: rgb(99, 98, 98);
    gap: 4px;
    white-space: nowrap;
}

button:hover {
    background-color: #FF7F11
}

.icon {
    height: 16px;
    width: 15px;
    object-fit: contain;
}

.content:hover .ai-summarize-menu {
    opacity: 1;
    max-height: 500px;
}

/* intro */

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 200px;
    position: absolute;
    margin: 0 auto;
    left: 255px;
    max-width: 650px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 56px;
    margin-bottom: 0.3rem;
}

* {
    margin: 0;
    padding: 0;
}

.texts {
    color: orange;
    font-size: 32px;
    line-height: 36px;
}

.cursor {
    font-size: 38px;
    font-weight: 900;
    color: orange;
    animation: blink 0.8s infinite;
}

.intro p {
    margin-top: 0.9rem;
    color: white;
    font-size: 20px;
}

.basicinfo {
    margin-top: 1.5rem;
    display: flex;
    height: 25px;
    gap: 2rem;
    width: 345px;
}

.basicinfo a {
    position: relative;
    overflow: hidden;
}

.contacts,
.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px 65px;
    border: 2px solid orange;
    border-radius: 12px;
    background-color: transparent;
    color: orange;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    height: 100%;
    width: 100px;
    z-index: 1;
    white-space: nowrap;
}


.basicinfo a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background-color: orange;
}

.basicinfo a:hover::before {
    background-color: orange;
    width: 100%;
}

.basicinfo a:nth-child(2):hover {
    color: #292828;
}

.basicinfo a:nth-child(1):hover {
    color: #292828;
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

/* TABLET FIX */
@media (max-width: 1139px) {
    .container {
        display: flex;
        justify-content: center;
        
    }

    .content {
        position: relative;
        border: 0.1px solid rgb(238, 238, 238);
        background-color: rgb(233, 234, 235);
        border-radius: 20px;
        width: 800px;
        height: fit-content;
        max-height: none;
        left: 0;
        margin: 0 40px;
        transition: none;
    }

    .content:hover {
        height: fit-content;
        background-color: rgb(233, 234, 235);
    }

    .content img {
        width: 45px;
        margin-top: 5px;
        margin-left: 15px;
    }

    .floating_icon {
        position: absolute;
        top: 15px;
        left: 70px;
    }

    .ai-summarize-menu {
        opacity: 1;
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
        justify-content: flex-start !important;
        margin-left: 63px;
        width: calc(100% - 70px);
        transition: none;
    }

    .ai-summarize-title {
        position: absolute;
        font-size: 12px;
        top: 33px;
        left: 60px;
        display: flex;
    }

    .ai-summarize-menu button {
        display: flex;
        position: relative;
        text-align: center;
        border-radius: 20px;
        max-height: 25px;
        min-width: 76px;
        padding: 3px 20px 3px 0;
        font-size: 12px;
        font-weight: 600;
    }
    .ai-summarize-menu button:hover {
        background-color: none
    }

    .icon {
        position: relative;
        bottom: 3px;
        height: 19px;
    }
}
@media screen and (max-width: 1139px) {
    .intro {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 280px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 70%;
        /* left: -150px;
        right: 0px;
        text-align: left; */
    }

    .texts {
        font-size: 30px;
    }
    h1{
        font-size: 42px;
    }
}

/* @media screen and (max-width: 1023px) {
    .intro {
       max-width: 80%;
   }
} */

@media screen and (max-width: 768px) {
    .intro {
        top: 320px;
        max-width: 80%;
        /* left: 22px;
        right: 23px;
        margin: 0 10px;
        margin-left: 18px; */
    }

    .texts {
        font-size: 26px;
    }
    h1{
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }

    .texts {
        font-size: 20px;
    }

    .intro {
        top: 360px;
        max-width: 80%;
        /* position: static;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px; */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro p {
        font-size: 16px;
    }
    .intro .basicinfo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .resume, .contacts{
        justify-content: center;
        margin-top: 15px;
        max-width: 60px;
        font-size: 14px;
        white-space: nowrap;
    }
}
